.user-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; /* Add space at the top */
  }
  
  .profile-picture {
    width: 80px; /* Reduced size */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .fallback-avatar {
    width: 80px; /* Reduced size */
    height: 80px;
    border-radius: 50%;
    background-color: #007bff; /* Fallback avatar background color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px; /* Adjusted font size */
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .welcome-message {
    font-size: 20px; /* Reduced font size */
    font-weight: 600;
    text-align: center; /* Center align the text */
  }
  